section,
footer {
    padding: 30px 50px;
}

.navbar + * {
    margin-top: 54px;
}

#header {
    text-align: center;
    background-color: #00bff3;
}

#header img {
    background: rgba(0,0,0,0.1);
}

#header h1 {
    color: #fff;
    font-size: 64px;
    font-weight: bold;
}
