@color_sky: #5D94FB;
@animation_duration: 40s;

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: @color_sky;
    font-family: 'Press Start 2P', cursive;

    &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background:
            linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%),
            linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
        background-size: 100% 2px, 3px 100%;
        pointer-events: none;
        opacity: .75;
        z-index: 2;
    }

}

#world {
    flex: 1 0 auto;
    background: url("src/img/land.png") no-repeat bottom center;

    & + footer {
        background-image: url("src/img/brick.png");
    }

}

section,
footer {
    padding: 30px 50px;
}

.navbar + * {
    margin-top: 54px;
}

#header {
    text-align: center;
    color: #fff;

    img {
        background: darken(@color_sky, 3%);
        border: 10px solid #426bb5;
        max-width: 75%;

        @media (min-width: 768px) {
            max-width: none;
        }

    }

    h1 {
        color: #fff;
        font-size: 40px;
        font-weight: bold;
        text-shadow: 3px 3px 0 #000, -1px -1px 0 #5c94fc, 1px -1px 0 #5c94fc, -1px 1px 0 #5c94fc, 1px 1px 0 #5c94fc;

        @media (min-width: 768px) {
            font-size: 48px;
        }

    }

    p {
        text-shadow: 2px 2px 0 #000, -1px -1px 0 #5c94fc, 1px -1px 0 #5c94fc, -1px 1px 0 #5c94fc, 1px 1px 0 #5c94fc;
    }

}

/* clouds */
#clouds {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    //transform: scale(.2); box-shadow: 0 0 10px red;

    .cloud {
        content: "";
        display: block;
        position: absolute;
        z-index: -1;
        margin-left: 100%;
        animation: clouds @animation_duration linear infinite;
        //box-shadow: 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff;

        &.cloud-1 {
            background: url("src/img/cloud_1.png");
            width: 64px;
            height: 48px;

            &.cloud-1:nth-child(1) {
                top: 10%;
            }
            &.cloud-1:nth-child(2) {
                top: 30%;
                animation-delay: @animation_duration*4/6;
            }
            &.cloud-1:nth-child(3) {
                top: 50%;
                animation-delay: @animation_duration*2/6;
            }
        }

        &.cloud-2 {
            background: url("src/img/cloud_2.png");
            width: 96px;
            height: 48px;

            &.cloud-2:nth-child(4) {
                top: 20%;
                animation-delay: @animation_duration*3/6;
            }
            &.cloud-2:nth-child(5) {
                top: 40%;
                animation-delay: @animation_duration*1/6;
            }
            &.cloud-2:nth-child(6) {
                top: 60%;
                animation-delay: @animation_duration*5/6;
            }
        }

    }

}

.label-default {
    background-color: #CC4B09;
}

@keyframes clouds {
    0% {margin-left: 100%;}
    100% {margin-left: -100%;}
}